# Python
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc
.pytest_cache/

outputs/

# Virtual Environment
venv/
.env

# Build
build/
dist/

# Egg Info
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db